<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <title>Start Quiz</title>
  </head>
  <body>
    <header><%- include('partials/nav') %></header>
    <div class="start-containter">
      <div id="home" class="start-card">
        <h1 class="start-title">Are You Ready?</h1>
        <div class="quizbtn">
          <a href="/quiz/play" class="start-btn1">Start</a>
        </div>
        <div class="quizbtn">
          <a href="/highscores.ejs" id="highscore-btn" class="start-btn">
            High Scores
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
